.boardlist {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    height: auto;
  }

.boardlist-label {
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    text-decoration: underline;
    margin-bottom: -10px
}

.board-list-info {
  margin: 40px;
}