.card {
    white-space: normal;
    border-radius: 5%;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 4px #ccc;
    background-color: #fff;
    color: #000;
    height: 200px;
    width: 200px;
    margin: 20px;
    padding: 25px;
}
  
.message {
    font-family: Arial;
    font-size: 14px;
    line-height: 21px;
    height: 75%;
    overflow: auto;
}
  
.controls {
    height: 25%;
    margin-top: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
/* DELETE BUTTON STYLING */
.delete-btn {
    background-color: #C62828;
}

/* UPVOTE BUTTON STYLING */
.upvote-btn {
  background-color: #eee;
  color: #C62828;
}

.upvote-btn:hover, .upvote-btn:active {
  color: #fff;
}