.new-card-form {
  width: 490px;
  margin-top: 20px;
  float: right;
}

.form-content {
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 4px #ccc;
  background-color: #fff;
  color: #000;
  height: auto;
  width: 400px;
  margin: 10px;
  padding: 15px;
}

.error-message {
    border: 2px solid red;
    padding: 8px;
    color: red;
  }
  .input-fields {
    text-align: center;
    margin: 10px;
}
label {
  margin-right: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 1px;
}

input {
  width: 100%;
}